<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Index </title>
</head>
<body>
<div class="container">
    <div>
        <h1>Admin Page</h1>
        <br>
        <p>
            <h3> Member Manager</h3>
            <a href="/admin/selectMemberList">Member List</a><br>
        <hr>
            <h3> Item Manager</h3>
            <a href="/admin/selectItemList">Item List</a><br>
        <hr>
            <h3> Order Manager</h3>
            <a href="/admin/selectOrderList">Order List</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>