<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h1> Cart List </h1>
<table>
    <thead>
        <tr>
            <th> ItemCNT </th>
            <th> ItemSeq </th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${carts}">
        <td th:text="${cart.cartItemCNT}"></td>
        <td th:text="${cart.itemSeq}"></td>
    </tr>
    </tbody>
</table>
<div>
    <hr>
    <h3> Order and Pay </h3>
    <form method="post" action="/order/createOrder" enctype="multipart/form-data">
        Addr : <input type="text" name="addr"><br>
        DetailAddr : <input type="text" name="detailAddr"><br>
        Name : <input type="text" name="name"><br>
        Recipient_tel : <input type="text" name="recipient_tel"><br>
        itemCNT : <input type="number" name="itemCNT"><br>
        Zipcode : <input type="text" name="zipcode"><br>
        Total Price : <input type="number" name="totalPrice"><br>
        MemberId : <input type="text" name="memberId">
        <button type="submit"> submit </button>
    </form>
    <br>
</div>
<br>
<div>
    <a href="/"> Move to Home </a>
</div>
</body>
</html>