<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <h1>SignUp Page</h1>
    <form method="post" action="/members/join" enctype="multipart/form-data">
      ID : <input type="text" name="memberId"><br>
      PW : <input type="password" name="password"><br>
      Name : <input type="text" name="memberName"><br>
      Tel. : <input type="text" name="tel"><br>
      Email : <input type="text" name="email">
      <button type="submit"> submit </button>
    </form>
  </div>
</div> <!-- /container -->
</body>
</html>