<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
<div class="container">
  <div>
    <h1>Login Page</h1>
    <form method="post" action="/members/login" enctype="multipart/form-data">
      ID : <input type="text" name="memberId"><br>
      PW : <input type="password" name="password">
      <button type="submit"> submit </button>
    </form>
    <a href="/members/join"> SignUp</a>
  </div> <!-- /container -->
</div>
</body>
</html>